<h1 class="text-center mt-4">Outstanding quizzes</h1>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4 offset-md-1">
      <div class="card">
        <div class="card-header card-header-success">
          You have the following quizzes left to take
        </div>
        <div class="card-body">
          <%if @unfinished_quizzes.length==0%>
            <p class='card-text'>
              All done!
            </p>
          <%else%>
            <%@unfinished_quizzes.each do |quiz_id|%>
              <%quiz=Quiz.find_by( id: quiz_id)%>
              <p class='card-text'>
                a quiz on <%= link_to(quiz.name, quiz_path(quiz.id), class: "card-text") %> menu</p>
            <%end%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
