<h1 class="text-center mt-4"><%= @user.full_name %>'s profile</h1>

<% if user_signed_in? && @user == current_user %>
  <div class="text-center mt-4">
    <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %>
  </div>
  
<% end %>
    <% @roles.each do |role| %>

              <p class="card-text"><%= role %></p>
<% end %>
