<h1 class="text-center mt-4">KTP departments</h1>
<div class="container">
  <% @departments.each do |department| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card">
          <div class="card-header card-header-info">
            <%= link_to(department.name, department_path(department.id), class: "text-white") %>
          </div>
          <div class="card-body">
            <% department.roles.each do |role| %>
              <p class="card-text"><%= role.name.pluralize %>: <% role.users.each do |user| %><%= user.full_name %>, <% end %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
