<h1 class="text-center mt-4">KTP departments</h1>


<div class="container">
  <% @departments.each do |department| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <%= department.name %>
          </div>
          <div class="card-body">
              <p class="card-text"><%= pluralize(department.department_roles_assignments.count, "roles") %></p>

          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>