<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
<div class="card">
                <div class="card-header card-header-info text-white">
                    <%= @result.quiz.name %>
                </div> 
                <div class="card-body">
              <p class="card-text"><%= @result.user.full_name %> answered <%= @result.number_of_correct_answers %> answers out of  <%= @result.number_of_questions %> correctly
              </p>
  

        </div>
    </div>
</div>
