<h1 class="text-center mt-4">KTP roles</h1>


<div class="container">
  <% @roles.each do |role| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <%= role.name %>
          </div>
          <div class="card-body">
<% @roles.each do |role| %>
              <p class="card-text"><%= role %></p>

<% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>