<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4 offset-md-1">
      <div class="card">
        <div class="card-header card-header-warning text-white">
          <%= @role.name %>
        </div>
        <div class="card-body">
          <% @role.users.each do |user|%>
            <p class="card-text"><%=user.full_name %>
            </p>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
