@import 'bootstrap/dist/css/bootstrap';
#sticky-footer {
  position: absolute;
  left: 0;
  bottom: 3%;
  width: 100%;
  color: #6610f2;
  text-align: center;


  }
  #sticky-header {
    flex-shrink: none;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    top: 0;
    
  }
  #header-name {
    display:inline-block
  }

#header {
  display: flex;
  flex-shrink: none;

  justify-content: space-between;
}

#navbar{
  width: 80%;
  margin-left: 20%;
}
body {
background: no-repeat center center fixed;

  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
background-image: url(/assets/background.jpeg);

}

#homepage-card {
  margin-top: 30%;
  margin-bottom: 20%;
  position: absolute;
}
.material-icons {
  display:inline-flex;
  vertical-align:top;
}
.wrapper {
  margin-top:2%;
  height: 100%;
  position: static;
}
.alert{

  margin-top: 4%;
}


#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
.wrong-answer{
  font-weight: bold;
  color: red;
}
.correct-answer{
  color: green;
  font-weight: bold;

}
.question{
  font-weight: bold;
}