<header id="sticky-header" class="py-1 bg-dark text-white">
  <div class="container text-center" id="header">
    <li class="nav-item"  id="header-sign-up">
      <a class="nav-link" href="/users/new">
        <i class="material-icons">add</i>
        <p>Sign Up</p>
      </a>
    </li>
    <h2 id="header-name">Know Thy Product</h2>
    <li class="nav-item"  id="header-sign-up">
      <a class="nav-link" href="/session/new">
        <i class="material-icons">login</i>
        <p>Login</p>
      </a>
    </li>
  </div>
</header>
