<%if user_signed_in?%>
  <div class="sidebar" data-color="purple" data-background-color="white">
    <div class="logo">
      <a href="/home" class="simple-text logo-normal">
        Know Thy Product
      </a>
      <%= link_to(current_user.full_name, edit_user_path(current_user), class: "simple-text text-primary logo-normal") %>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">dashboard</i>
            <p>Departments</p>
            <div class="ripple-container"></div>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/departments">  <i class="material-icons">dashboard</i>
              <p>Departments Index</p>
            </a>
            <a class="dropdown-item" href="/departments/new">  <i class="material-icons">dashboard_customize</i>
              <p>Create Department</p>
            </a>
            <a class="dropdown-item" href="/roles">  <i class="material-icons">work</i>
              <p>Roles Index</p>
            </a>
            <a class="dropdown-item" href="/roles/new">  <i class="material-icons">create_new_folder</i>
              <p>Create Role</p>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">quiz</i>
            <p>Quizzes</p>
            <div class="ripple-container"></div>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/quizzes">  <i class="material-icons">quiz</i>
              <p>Quizzes Index</p>
            </a>
            <a class="dropdown-item" href="/quizzes/new">  <i class="material-icons">create</i>
              <p>Create Quiz</p>
            </a>
            <a class="dropdown-item" href="/quiz_assignments/new">  <i class="material-icons">assignment_return</i>
              <p>Assign Quiz</p>
            </a>
            <a class="dropdown-item" href="/quiz_assignments">  <i class="material-icons">assignment</i>
              <p>Current Assignments</p>
            </a>
            <a class="dropdown-item" href="/results">  <i class="material-icons">grading</i>
              <p>Results</p>
            </a>
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/users">
            <i class="material-icons">people</i>
            <p>Users</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/session" data-method="delete">
            <i class="material-icons">logout</i>
            <p>Logout</p>
          </a>
        </li>
      </ul>
      <div id='sticky-footer'>
        <h5>Stas Anikin &copy; 2021</h5>
      </div>
    </div>
  </div>
<%end%>
